/*-------------
 VARIABLES
------------ */

:root{
    /* COLOURS */
    --first-color: #0084fd;
    --second-color: #b5ddff;
    --third-color: #9792e4;
    --footer-two-color: #333333;
    /* /COLOURS */
}

/*-------------
 /VARIABLES
------------ */